.paybills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #fafafa;
  padding: 20px;
}

.paybills-card {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  padding: 20px;
}

.pb-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.pb-back-btn {
  position: absolute;
  left: 0;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  color: #950606;
}

.pb-title {
  width: 100%;
  text-align: center;
  color: #950606;
  font-size: 1.7rem;
  font-weight: bold;
}

.biller-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.biller-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.biller-card.selected {
  border: 2px solid #950606;
  background: #fff4f4;
}

.paybills-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 50px;
  border: 1px solid #ddd;
}

.paybills-card button {
  width: 100%;
  padding: 14px;
  background: #950606;
  border: none;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
}

.paybills-message {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: green;
}
